<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memlody</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Huninn&display=swap" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/admin.css">
    <style>
        :lang(en){
            font-family: 'Huninn', 'Kanit';
        }
    </style>
</head>
<body class="m-0" lang="en">
    <div class="bg-[#0E0E5D] flex justify-between ">
        <div class="flex justify-center items-center text-white ml-[4%] m-[2vh]"><h1 class="text-[4vh]">MEMLODY</h1></div>
        <div class="hidden md:flex justify-center items-center gap-7 text-white mr-10">
            <a href=""><p class="text-2xl border-b-4 hover:border-b-4 hover:border-white cursor-pointer">เกมนี่เสียงอะไร</p></a>
            <a href="/admin/todo_mode"><p class="text-gray-300 text-2xl hover:border-b-4 hover:border-white cursor-pointer">เกมทายของจากรูป</p></a>
            <a href="/logout" class="Btn">
                <div class="sign">
                    <svg viewBox="0 0 512 512">
                        <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                    </svg>
                </div>
                <div class="text">Logout</div>
            </a>
        </div>
        <div class="md:hidden flex items-center">
            <button onclick="menu()" class="text-white text-3xl mx-7 cursor-pointer">☰</button>
        </div>
    </div>

    <div id="menu" class="md:hidden hidden flex flex-col gap-5 text-white bg-[#0E0E5D] px-8 pb-6">
        <a href="#" class="w-fit text-gray-300 text-2xl border-b-4 hover:border-white cursor-pointer">เกมนี่เสียงอะไร</a>
        <a href="/admin/todo_mode" class="w-fit text-2xl hover:border-b-4 hover:border-white cursor-pointer">เกมทายของจากรูป</a>
        <a href="/logout" class="w-fit text-2xl text-red-400 hover:text-red-600 hover:bg-red-100 px-3 py-1 rounded-md transition duration-300">Logout</a>
    </div>

    <div class="w-[95%] lg:w-[80%] 2xl:w-[60%] mx-auto my-10">
        <div class="hidden md:flex text-[2.5vh] my-10 gap-">
            <a href="/admin/pairing_mode" class="flex justify-center items-center px-6 py-3 rounded-full text-center bg-gray-50 hover:bg-sky-100">โหมดจับคู่</a>
            <a href="" class="flex justify-center items-center px-6 py-3 rounded-full text-center bg-blue-400 text-white">โหมดออกเสียง</a>
        </div>

        <select class="md:hidden px-5 py-3 border-2 border-gray-300 rounded-xl text-[3vh] shadow-lg my-5 flex cursor-pointer" onchange="window.location.href = this.value;">
            <option value="/admin/pairing_mode" class="px-4 py-2 text-[2vh] cursor-pointer">โหมดจับคู่</option>
            <option value="" class="px-4 py-2 text-[2vh] cursor-pointer">โหมดออกเสียง</option>
        </select>

        <div class="flex flex-col mx-auto px-10 py-7 bg-white rounded-2xl shadow-[0_0_15px_rgba(0,0,0,0.2)]">
            <h1 class="text-4xl sm:text-5xl font-semibold">โหมดออกเสียง</h1>
            <div class="flex text-2xl mt-3 space-x-1">
                <p class="text-gray-400">จำนวนเกมทั้งหมด:</p>
                <p>{{ stage }} เกม</p>
            </div>
        </div>
        <div class="buttons">
            <a href="/admin/speaking_mode/create/{{ stage+1 }}" class="btn">
                <span></span>
                <p data-title="สร้างเกมใหม่"></p>
            </a>
        </div>
        <div>
            <div class="flex items-center gap-3 mb-5">
                <img src="/static/img/goal.png" class="w-16 h-16">
                <p class="text-4xl">ด่านทั้งหมด</p>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-">
                {% for i in range(stage) %}
                    <a href="/admin/speaking_mode/edit/{{ stage }}" class="flex flex-col bg-white rounded-2xl shadow-md p-6 hover:shadow-xl transition-shadow duration-300 cursor-pointer mb-4">
                        <div class="flex flex-col justify-start">
                            <h4 class="text-3xl font-bold text-[#2563EB]">ด่าน {{ i + 1 }}</h4>
                            <p class="text-xl text-gray-400">จำนวนข้อ: 5</p>
                        </div>
                        <div class="flex justify-end items-center">
                            <img src="/static/img/edit.png" class="w-6 h-6">
                            <p class="text-xl text-gray-400">แก้ไข</p>
                        </div>
                    </a>
                {% endfor %}
                <!-- <a href="" class="flex flex-col bg-white rounded-2xl shadow-md p-6 hover:shadow-xl transition-shadow duration-300 cursor-pointer">
                    <div class="flex flex-col justify-start">
                        <h4 class="text-3xl font-bold text-[#2563EB]">ด่าน 2</h4>
                        <p class="text-xl text-gray-400">จำนวนข้อ: 5</p>
                    </div>
                    <div class="flex justify-end items-center">
                        <img src="/static/img/edit.png" class="w-6 h-6">
                        <p class="text-xl text-gray-400">แก้ไข</p>
                    </div>
                </a>
                <a href="" class="flex flex-col bg-white rounded-2xl shadow-md p-6 hover:shadow-xl transition-shadow duration-300 cursor-pointer">
                    <div class="flex flex-col justify-start">
                        <h4 class="text-3xl font-bold text-[#2563EB]">ด่าน 3</h4>
                        <p class="text-xl text-gray-400">จำนวนข้อ: 5</p>
                    </div>
                    <div class="flex justify-end items-center">
                        <img src="/static/img/edit.png" class="w-6 h-6">
                        <p class="text-xl text-gray-400">แก้ไข</p>
                    </div>
                </a>
                <a href="" class="flex flex-col bg-white rounded-2xl shadow-md p-6 hover:shadow-xl transition-shadow duration-300 cursor-pointer">
                    <div class="flex flex-col justify-start">
                        <h4 class="text-3xl font-bold text-[#2563EB]">ด่าน 4</h4>
                        <p class="text-xl text-gray-400">จำนวนข้อ: 5</p>
                    </div>
                    <div class="flex justify-end items-center">
                        <img src="/static/img/edit.png" class="w-6 h-6">
                        <p class="text-xl text-gray-400">แก้ไข</p>
                    </div>
                </a> -->
            </div>
        </div>
    </div>
    <script>
        const btn = document.querySelector('.btn');
        const p = btn.querySelector('p');
        const originalTitle = p.getAttribute('data-title');
        const imgHTML = '<img src="/static/img/add-green.png"/>';
        btn.addEventListener('mouseenter', () => {
          p.innerHTML = imgHTML;
        });
        btn.addEventListener('mouseleave', () => {
          p.innerHTML = '';
        });

        function menu() {
            const menu = document.getElementById('menu');
            menu.classList.toggle('hidden');
        }
    </script>
</body>
</html>