<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Memlody</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Huninn&display=swap" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        :lang(en){
          font-family: 'Huninn', 'Kanit';
        }

        .dot{
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }
        .active-dot{
            background-color: #717171;
        }
        #popup{
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            inset: 0;
            background: rgba(0,0,0,0.4);
            z-index: 1000;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        #popup.active{
            visibility: visible;
            opacity: 1;
        }
        #popup_box{
            background: #f9fafb;
            border-radius: 12px;
            padding: 20px;
            width: 30%;
            max-width: 90vw;
            box-shadow: 0 0 15px rgb(0 0 0 / 0.2);
            position: relative;
        }
        #popup_box > form{
            display: none;
            flex-direction: column;
        }
        #popup_box > form.active {
            display: flex;
        }
        @media screen and (max-width:1440px){
            #popup_box{
                width: 50%;
            }
        }
        @media screen and (max-width:768px){
            #popup_box{
                width: 60%;
            }
        }
        @media screen and (max-width:640px){
            #popup_box{
                width: 80%;
            }
        }
    </style>
</head>
<body class="m-0" lang="en">
    <div class="bg-[#0E0E5D] flex justify-between h-[13vh]">
        <div class="flex justify-center items-center text-white ml-[4%]"><a href="#" class="text-[4vh] font-semibold">MEMLODY</a></div>
        <div class="flex justify-center items-center w-[100%] gap-[10px] 2xl:w-[25%] xl:[30%] lg:w-[40%] md:w-[50%] sm:w-[80%]">
            <button onclick="open_popup('login')" class="bg-white text-black w-[30%] h-[45%] text-[1.5vh] border-0 cursor-pointer rounded-[15px] hover:text-[#0080FF] hover:border-2 sm:text-[2.5vh]">Log in</button>
            <button onclick="open_popup('register')" class="bg-[#0080FF] text-white w-[30%] h-[45%] text-[1.5vh] border-0 cursor-pointer rounded-[15px] hover:text-[#0080FF] hover:bg-white hover:border-2 sm:text-[2.5vh]">Sign up</button>
        </div>
    </div>

    <div id="popup">
        <div id="popup_box">
            <button class="absolute top-[-10px] right-[-10px] bg-white rounded-full border-[#ccc] border w-10 h-10 font-bold cursor-pointer" onclick="close_popup()">X</button>
            <!-- popup login -->
            <form id="login" class="active">
                <div class="max-w relative flex flex-col px-2 rounded-md text-black bg-gray-50 h-fit sm:px-5">
                    <div class="text-4xl font-bold my-3 text-black text-center">Welcome to <span class="text-blue-300">Memlody</span></div>
                    <div class="text-xl mb-4 text-center text-black">กรุณาเข้าสู่ระบบของคุณ</div>
                    <div class="flex flex-col">
                        <div class="relative w-full mb-5">
                            <input type="text" id="Username" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500"/>
                            <label for="Username" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">Username</label>
                        </div>
                        <div class="relative w-full mb-5">
                            <input type="password" id="Password" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-[2vh] outline-none focus:border-blue-500"/>
                            <label for="Password" class="absolute left-3 top-[10px] text-gray-500 leading-none text-[2vh] bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">Password</label>
                        </div>
                        <!-- <div class="mx-1 mb-5 cursor-pointer" onclick="switch_popup('forgot')">
                            <span class="text-xl text-blue-300 hover:underline">Forgot your password?</span>
                        </div> -->
                        <button type="button" class="bg-sky-300 w-full m-auto px-6 py-2 rounded-xl text-white text-2xl cursor-pointer hover:bg-sky-500" onclick="Submit_Login();">Login</button>
                    </div>
                    <div class="text-xl text-center my-5">Don't have a MEMLODY account?<label class="text-xl text-blue-300 cursor-pointer hover:underline" onclick="switch_popup('register')"> Sign up for Memlody</label></div>
                </div>
            </form>

            <!-- popup forgot -->
            <!-- <form id="forgot" class="active">
                <div class="max-w relative flex flex-col px-2 rounded-md text-black bg-gray-50 h-fit sm:px-10">
                    <div class="text-4xl font-bold my-3 text-black text-center">Forgot Your Password?</div>
                    <div class="text-xl mb-4 text-center text-black">กรุณาใส่ E-mail ที่ลงทะเบียน</div>
                    <div class="flex flex-col">
                        <div class="relative w-full mb-5">
                            <input type="text" id="Email" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500"/>
                            <label for="Email" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">Email</label>
                        </div>
                        <div class="relative w-full mb-5">
                            <input type="password" id="NewPassword" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500"/>
                            <label for="NewPassword" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">New Password</label>
                        </div>
                        <button type="submit" class="bg-sky-300 w-full m-auto px-6 py-2 rounded-xl text-white text-2xl hover:bg-sky-500">Change Password</button>
                    </div>
                    <div class="text-xl text-center my-5 text-blue-300 cursor-pointer hover:underline" onclick="switch_popup('login')">return to login</div>
                </div>
            </form> -->

            <!-- popup register -->
            <form id="register">
                <div class="max-w relative flex flex-col px-2 rounded-md text-black bg-gray-50 sm:px-4">
                    <div class="text-4xl font-bold my-3 text-black text-start">Sign up</div>
                    <div class="text-xl mb-4 text-start text-black">โปรดใส่ข้อมูลให้ถูกต้อง</div>
                    <div class="flex flex-col">
                        <div class="relative w-full flex gap-5 mb-3">
                            <div class="relative w-[50%]">
                                <input type="text" id="FirstName" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500"/>
                                <label for="FirstName" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">ชื่อ</label>
                            </div>
                        
                            <div class="relative w-[50%]">
                                <input type="text" id="LastName" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500"/>
                                <label for="LastName" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">นามสกุล</label>
                            </div>
                        </div>
                        <div class="relative w-full mb-3">
                            <input type="date" id="Birth" required class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl text-gray-400 outline-none focus:text-black" onchange="calculateAge()"/>
                            <label for="Birth" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">วันเกิด</label>
                        </div>
                        <div class="relative w-full flex gap-5 mb-3">
                            <div class="relative w-[50%]">
                                <input type="text" id="Age" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500" disabled />
                                <label for="Age" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">อายุ</label>
                            </div>
                            <div class="relative w-[50%]">
                                <select id="Gender" required class="w-full h-[45px] border border-gray-300 rounded-xl px-3 py-2 text-xl text-gray-400 outline-none focus:border-blue-500 focus:text-black bg-gray-50" onchange="this.classList.remove('text-gray-400'); this.classList.add('text-black')">
                                    <option value="" disabled selected hidden>--- เลือกเพศ ---</option>
                                    <option value="ชาย">ชาย</option>
                                    <option value="หญิง">หญิง</option>
                                </select>
                            </div>
                        </div>
                        <div class="relative w-full mb-3">
                            <input type="email" id="email" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500"/>
                            <label for="Email" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">Email</label>
                        </div>
                        <div class="relative w-full mb-3">
                            <input type="text" id="username" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-xl outline-none focus:border-blue-500"/>
                            <label for="Username" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">Username</label>
                        </div>
                        <div class="relative w-full mb-3">
                            <input type="password" id="password" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-[2vh] outline-none focus:border-blue-500"/>
                            <label for="Password" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">Password</label>
                        </div>
                        <div class="relative w-full mb-3">
                            <input type="password" id="ConfirmPassword" required placeholder=" " class="peer w-full h-[45px] border border-gray-300 rounded-xl px-3 py-4 text-[2vh] outline-none focus:border-blue-500"/>
                            <label for="ConfirmPassword" class="absolute left-3 top-[10px] text-gray-500 leading-none text-xl bg-gray-50 transition-all peer-placeholder-shown:top-[12px] peer-placeholder-shown:text-gray-400 peer-focus:top-[-8px] peer-focus:text-xs peer-not-placeholder-shown:top-[-8px] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 px-1">Confirm Password</label>
                        </div>
                        <button type="button" class="bg-sky-300 w-full m-auto px-6 py-2 rounded-xl text-white text-2xl hover:bg-sky-500" onclick="Submit_Register();">Submit</button>
                    </div>
                    <div class="text-xl text-center my-3">Already have an account?<label class="text-xl text-blue-300 cursor-pointer hover:underline" onclick="switch_popup('login')"> Log in here.</label></div>
                </div>
            </form>
        </div>
    </div>

    <div class="flex justify-center items-center my-[20px]">
        <button class="hidden sm:flex w-10 h-10 bg-black text-white text-xl items-center justify-center rounded-full mx-[15px] cursor-pointer" onclick="moveSlide(-1, true)"><</button>
        <div class="relative w-full rounded-none sm:w-[80%] sm:rounded-[10px] overflow-hidden shadow-md">
            <div class="flex transition-transform duration-500 ease-in-out w-full h-[440px] sm:h-[400px]" id="slides">
                <div class="flex-grow flex-shrink-0 basis-full relative">
                    <img src="/static/img/NSC-background1.jpg" class="w-full h-full object-cover">
                    <div class="absolute top-4 left-[15%] text-[2.6vh] text-white pt-[10px] pb-0 px-[20px] rounded-[10px] font-bold lg:top-4 lg:left-[40%] lg:text-[3.5vh] sm:left-[28%]">โรคอัลไซเมอร์เกิดจากอะไร?</div>
                    <div class="flex flex-col absolute top-[55px] left-[28%] w-[70%] text-[1.5vh] text-white p-[15px] 
                    2xl:top-[65px] 2xl:left-[43%] 2xl:w-[53%] 2xl:text-[2vh]
                    lg:left-[43%] lg:w-[53%] md:w-[60%] sm:left-[35%] sm:w-[65%] sm:top-[65px]">
                        <div>
                            โรคอัลไซเมอร์เป็นโรคความเสื่อมของสมองเกิดจากการสะสมของโปรตีนเบต้า-อะไมลอยด์ที่ทำลายเซลล์สมอง และลดสารสื่อประสาทอะซีติลโคลีนทำให้สมองเริ่มเสื่อมทีละน้อย แบ่งออกเป็น 3 ระยะหลัก:<br>
                        </div>
                        <div class="ml-5">
                            1. ระยะแรก: ลืมเรื่องที่เพิ่งทำ/พูด, เรียกชื่อสิ่งของไม่ถูก, สับสนทิศทาง แต่ยังจำความทรงจำเก่า ๆ ได้<br>
                            2. ระยะกลาง: ช่วยเหลือตัวเองได้น้อยลง, ลืมขั้นตอนกิจวัตรประจำวัน, อารมณ์แปรปรวน, ใช้ภาษาผิด, อาจเห็นภาพหลอน<br>
                            3. ระยะสุดท้าย: ช่วยตัวเองไม่ได้, จำคนใกล้ชิดไม่ได้, อารมณ์รุนแรงต้องมีผู้ดูแลตลอดเวลา
                        </div>
                    </div>
                </div>

                <div class="flex-grow flex-shrink-0 basis-full relative">
                    <img src="/static/img/NSC-background3.jpg" class="w-full h-full object-cover">
                    <div class="absolute top-2 left-0 text-white text-[2.5vh] px-[16px] py-[8px] rounded-[10px] font-bold lg:top-8 lg:left-[10%] lg:text-[3.5vh] sm:top-5 sm:left-2 sm:text-[3vh]">แนวทางการรักษาโรคอัลไซเมอร์</div>
                    <div class="absolute top-13 left-3 w-[45%] text-[1.7vh] text-white p-[15px] rounded-[10px] leading-[1.5] lg:text-[2vh] lg:top-20 lg:left-[12%] lg:w-[40%] sm:text-[1.5vh] sm:top-20 sm:left-[5%] sm:w-[40%]">
                        การรักษาแบบไม่ใช้ยา:<br>
                        1.การทำกายภาพบำบัด<br>
                        2.การฝึกสมอง<br>
                        3.การเล่นเกมต่าง ๆ<br>
                        4.การฝึกช่วยเหลือตัวเองให้มากที่สุดเท่าที่จะทำได้<br>
                        5.การออกกำลังกาย, มีสุขอนามัยการนอนที่ดี, รับประทานอาหาร ให้ครบ 5 หมู่, รักษา mbti ให้ปกติ
                    </div>
                    <div class="absolute top-13 left-[50%] w-[45%] text-[1.7vh] text-white p-[15px] rounded-[10px] leading-[1.5] lg:text-[2vh] lg:top-20 lg:left-[55%] lg:w-[40%] sm:text-[1.5vh] sm:top-20 sm:left-[45%] sm:w-[40%]">
                        การรักษาแบบใช้ยาต้องได้รับการประเมินโดยแพทย์เฉพาะทาง:<br>
                        1.การใช้ยาชะลอไม่ให้สมองเสื่อมเพิ่มขึ้น<br>
                        2.การใช้ยาปรับอาการทางพฤติกรรมต่าง ๆ เช่น อาการสับสน, อาการกระสับกระส่าย, อาการทางจิต, ภาวะนอนไม่หลับ เป็นต้น
                    </div>
                </div>

                <div class="flex-grow flex-shrink-0 basis-full relative">
                    <img src="/static/img/NSC-background4.jpg" class="w-full h-full object-cover">
                    <div class="absolute top-2 left-0 text-white text-[3.5vh] px-[18px] py-[10px] rounded-[10px] font-bold sm:top-8 sm:left-[10%]">MEMLODY คืออะไร</div>
                    <div class="absolute top-13 left-5 w-[85%] text-[2vh] text-white p-[15px] rounded-[10px] leading-[1.6] 2xl:text-[2.3vh] xl:w-[45%] lg:w-[55%] md:w-[80%] sm:w-[60%] sm:top-[90px] sm:left-[12%]">
                        เป็นเว็บไซต์สำหรับช่วย ผู้ป่วยในระยะแรกและระยะที่สองโดยจะเป็น กิจกรรม Brain Exercise ที่ช่วยในส่วนของ Memory และในการพัฒนาเว็บไซต์นี้ทางผู้พัฒนาได้รับแรงบันดาลใจจากบทความของ bbc news ที่กล่าวถึงเสียงมีส่วนช่วยกับผู้ป่วยโรคอัลไซเมอร์ ทางเราจึงมีฟังก์ชันเสริมในการหาเพลงที่อิงจากความชอบ และข้อมูลพื้นฐานของผู้ป่วย
                    </div>
                </div>
            </div>
        </div>
        <button class="hidden sm:flex w-10 h-10 bg-black text-white text-xl items-center justify-center rounded-full mx-[15px] cursor-pointer" onclick="moveSlide(1, true)">></button>
    </div>

    <div class="flex justify-center flex-wrap gap-2 mt-4" id="dots"></div>

    <div>
        <div class="text-[40px] mx-[5%] my-0 font-bold">
            <h1 lang="en">Brain Exercise</h1>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[30px] mx-[5%] my-8 cursor-pointer">
            <a href="#" class="flex justify-between items-center p-5 rounded-[20px] bg-[#E9EFFF] border border-gray-300 shadow-sm hover:shadow-md hover:-translate-y-1 transform transition duration-300 hover:bg-gray-50">
                <div class="flex flex-col justify-center">
                    <p class="text-[20px] font-bold m-0 text-left text-gray-900">เกมนี่เสียงอะไร??</p>
                </div>
                <img src="/static/img/sound-game.png" class="w-[80px] h-[80px]">
            </a>
            <a href="#" class="flex justify-between items-center p-5 rounded-[20px] bg-[#E9EFFF] border border-gray-300 shadow-sm hover:shadow-md hover:-translate-y-1 transform transition duration-300 hover:bg-gray-50">
                <div class="flex flex-col justify-center">
                    <p class="text-[20px] font-bold m-0 text-left text-gray-900">เกมทายของจากรูปภาพ</p>
                </div>
                <img src="/static/img/problem-game.png" class="w-[80px] h-[80px]">
            </a>
            <a href="#" class="flex justify-between items-center p-5 rounded-[20px] bg-[#E9EFFF] border border-gray-300 shadow-sm hover:shadow-md hover:-translate-y-1 transform transition duration-300 hover:bg-gray-50">
                <div class="flex flex-col justify-center">
                    <p class="text-[20px] font-bold m-0 text-left text-gray-900">สถิติทั้งหมด</p>
                </div>
                <img src="/static/img/trend.png" class="w-[80px] h-[80px]">
            </a>
        </div>
    </div>

    <script>
        
        const popup = document.getElementById('popup');
        const login = document.getElementById('login');
        const register = document.getElementById('register');
        function open_popup(name){
            popup.classList.add('active');
            if (name === 'login'){
                login.classList.add('active');
                register.classList.remove('active');
            }else{
                register.classList.add('active');
                login.classList.remove('active');
            }
        }
        function close_popup(){
            popup.classList.remove('active');
        }
        function switch_popup(name){
            if (name === 'login'){
                login.classList.add('active');
                register.classList.remove('active');
            }else if (name === 'register'){
                register.classList.add('active');
                login.classList.remove('active');
            }
        }
        const birthday = document.getElementById('Birth');
        birthday.addEventListener('change', function (){
            if (this.value){
              this.classList.remove('text-gray-400');
              this.classList.add('text-black');
            }else{
              this.classList.remove('text-black');
              this.classList.add('text-gray-400');
            }
        });

        const slides = document.getElementById("slides");
        const dotsContainer = document.getElementById("dots");
        let autoSlideInterval;
        let isTransitioning = false;

        const originalSlides = Array.from(slides.children);
        const totalSlides = originalSlides.length;
        const firstClone = originalSlides[0].cloneNode(true);
        const lastClone = originalSlides[totalSlides - 1].cloneNode(true);
        slides.insertBefore(lastClone, originalSlides[0]);
        slides.appendChild(firstClone);

        let currentIndex = 1;
        slides.style.transform = `translateX(-${currentIndex * 100}%)`;

        for (let i = 0; i < totalSlides; i++) {
            const dot = document.createElement("span");
            dot.classList.add("dot");
            if (i === 0) dot.classList.add("active-dot");
            dot.addEventListener("click", () => {
              goToSlide(i);
              ResetTime();
            });
            dotsContainer.appendChild(dot);
        }
        function updateDots() {
            const dots = document.querySelectorAll(".dot");
            dots.forEach(dot => dot.classList.remove("active-dot"));
            const dotIndex = (currentIndex - 1 + totalSlides) % totalSlides;
            dots[dotIndex].classList.add("active-dot");
        }
        function moveSlide(n, manual = false) {
            if (isTransitioning) return;
            isTransitioning = true;

            currentIndex += n;
            slides.style.transition = "transform 0.5s ease-in-out";
            slides.style.transform = `translateX(-${currentIndex * 100}%)`;

            if (manual) ResetTime();
            updateDots();
            slides.addEventListener("transitionend", handleLoopEdge);
        }
        function handleLoopEdge() {
            slides.removeEventListener("transitionend", handleLoopEdge);

            if (currentIndex === 0) {
              slides.style.transition = "none";
              currentIndex = totalSlides;
              slides.style.transform = `translateX(-${currentIndex * 100}%)`;
            } else if (currentIndex === totalSlides + 1) {
              slides.style.transition = "none";
              currentIndex = 1;
              slides.style.transform = `translateX(-${currentIndex * 100}%)`;
            }
            setTimeout(() => {
              isTransitioning = false;
            }, 50);
        }
        function goToSlide(n) {
            currentIndex = n + 1;
            slides.style.transition = "transform 0.5s ease-in-out";
            slides.style.transform = `translateX(-${currentIndex * 100}%)`;
            updateDots();
        }
        function startAutoSlide() {
            autoSlideInterval = setInterval(() => moveSlide(1, false), 7000);
        }
        function ResetTime() {
            clearInterval(autoSlideInterval);
            startAutoSlide();
        }
        startAutoSlide();

        function calculateAge() {
            const birthInput = document.getElementById("Birth").value;
            const ageInput = document.getElementById("Age");

            if (!birthInput) return;

            const birthDate = new Date(birthInput);
            const today = new Date();

            let age = today.getFullYear() - birthDate.getFullYear();

            const m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            
            ageInput.value = age + " ปี";
        }
        function Submit_Register(){
            const data = {
                "first_Name":document.getElementById('FirstName').value,
                "last_Name":document.getElementById('LastName').value,
                "birth":document.getElementById('Birth').value,
                "gender":document.getElementById("Gender").value,
                "username":document.getElementById('username').value,
                "password":document.getElementById('password').value,
                "confirmPassword":document.getElementById('ConfirmPassword').value,
                "email":document.getElementById('email').value
            }
            if (data.password !== data.confirmPassword) {
                Swal.fire({
                    icon: "warning",
                    title: "รหัสผ่านไม่ตรงกัน",
                    text: "กรุณากรอกรหัสผ่านให้ตรงกัน",
                    confirmButtonText: "เข้าใจแล้ว",
                });
            }
            else if (data.password.length < 8){
                Swal.fire({
                    icon: "warning",
                    title: "รหัสผ่านสั้นเกินไป",
                    text: "กรุณากรอกรหัสผ่านให้มีอย่างน้อย 8 ตัวอักษร",
                    confirmButtonText: "เข้าใจแล้ว",
                });
            }else{
                const formdata = new FormData();
                for (let key in data) {
                    formdata.append(key, data[key]);
                }
                fetch('/register', {
                    method: "POST",
                    body: formdata
                }).then(response => response.json())
                .then(data => {
                    if (data.message === "สมัครสมาชิกสำเร็จ") {
                        Swal.fire({
                            icon: "success",
                            title: "สมัครสมาชิกสำเร็จ",
                            confirmButtonText: "ตกลง",
                        }).then(() => {
                            close_popup();
                            document.getElementById("register").reset();
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: data.message || "เกิดข้อผิดพลาดในการสมัครสมาชิก",
                            confirmButtonText: "ตกลง",
                        });
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    Swal.fire({
                        icon: "error",
                        title: "ไม่สามารถเชื่อมต่อเซิร์ฟเวอร์",
                        confirmButtonText: "ตกลง",
                    });
                });
            }
            
        }

        function Submit_Login(){
            const data = {
                "username":document.getElementById('Username').value,
                "password":document.getElementById('Password').value
            }
            const formdata = new FormData();
            for (let key in data) {
                formdata.append(key, data[key]);
            }
            fetch("/login", {
                method: "POST",
                body: formdata
            }).then(response => response.json())
            .then(data => {
                console.log(data.message)
                if (data.message === "admin") {
                    window.location.href = "/admin/pairing_mode";
                } else if (data.message === "เข้าสู่ระบบสำเร็จ") {
                    window.location.href = "/home";
                } else {
                    alert(data.message);
                }
            });
        }
        {% if msg  == "กรุณาเข้าสู่ระบบ" %}
            Swal.fire({
                icon: "warning",
                title: "กรุณาเข้าสู่ระบบ",
                text: "กรุณาล็อกอินเพื่อเข้าถึงเนื้อหานี้",
                confirmButtonText: "ตกลง",
            }).then(
                open_popup("login")
            );
        {% endif %}
    </script>
</body>
</html>