<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memlody</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Huninn&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    :lang(en){
        font-family: 'Huninn', 'Kanit';
    }
    .fancy {
        display: inline-block;
        position: relative;
        border-radius: 20px;
        font-size: 2vh;
        /* margin: 20px 0 0 20px; */
        padding: 8px 20px;
        color: #fff;
        border: 2px solid #BBBCBF;
        background-color: #F0F0F0;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        white-space: nowrap;
    }

    .fancy .text {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding-left: 2em;
        text-align: left;
        transition: all 0.3s ease-in-out;
        color: black;
    }

    .img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-left: -1.5em;
    }

    .fancy .top-key,
    .fancy .bottom-key-1,
    .fancy .bottom-key-2 {
        height: 2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, left 0.3s ease-out, right 0.3s ease-out;
    }

    .fancy .top-key {
        width: 1.5625rem;
        top: -2px;
        left: 0.625rem;
    }

    .fancy .bottom-key-1 {
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -2px;
    }

    .fancy .bottom-key-2 {
        width: 0.625rem;
        right: 0.625rem;
        bottom: -2px;
    }

    .fancy:hover {
        background: white;
        border-color: transparent;
        box-shadow: 1px 2px 5px 2px #BBBCBF;
    }

    .fancy:hover .text {
        padding-left: 1.5em;
    }

    .fancy:hover .top-key {
        left: -2px;
        width: 0px;
    }

    .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
        right: 0;
        width: 0;
    }
</style>

<body class="m-0" lang="en">
    <div class="bg-[#0E0E5D] flex justify-between">
        <div class="flex justify-center items-center text-white ml-[4%]"><a href="/home" class="text-[4vh] font-semibold">MEMLODY</a></div>
        <div class="flex justify-center items-center mr-[2%] m-[1.5vh] gap-2">
            <p class="text-[2vh] text-[#0E0E5D] rounded-xl bg-[#DFE9FF] p-2">#สัตว์</p>
            <p class="text-[2vh] text-[#0E0E5D] rounded-xl bg-[#DFE9FF] p-2">#ธรรมชาติ</p>

        </div>
    </div>

    <div class="flex flex-row items-center m-[2.5vh]">
        <a class="fancy" href="/home/game_sound/pairing_mode">
            <span class="top-key"></span>
            <span class="text"><img src="/static/img/return.png" class="img" alt="ย้อนกลับ">ย้อนกลับ</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>

        <div class="flex justify-center items-center my-5 ml-auto mr-[2vh] gap-2">
            <img src="/static/img/clock.png" class="w-[4vh]">
            <p class="text-[2.3vh] whitespace-nowrap text-gray-500">เวลาที่ใช้ไป:</p>
            <p class="text-[2.3vh] whitespace-nowrap text-gray-500" id="timer">00:00</p>
        </div>
    </div>

    <div class="flex justify-center items-center gap-3 mt-[-3vh]  max-[700px]:mt-[0vh]" id="current_choice">
        <p
            class="w-[4vh] h-[4vh] flex items-center justify-center text-[2vh] text-[#0E0E5D] rounded-full bg-[#DFE9FF] outline outline-2 outline-[#4A67BA]">
            1</p>
        <p
            class="w-[4vh] h-[4vh] flex items-center justify-center text-[2vh] text-[#0E0E5D] rounded-full bg-[#FFFFFF] outline outline-2 outline-[#4A67BA]">
            2</p>
        <p
            class="w-[4vh] h-[4vh] flex items-center justify-center text-[2vh] text-[#0E0E5D] rounded-full bg-[#FFFFFF] outline outline-2 outline-[#4A67BA]">
            3</p>
        <p
            class="w-[4vh] h-[4vh] flex items-center justify-center text-[2vh] text-[#0E0E5D] rounded-full bg-[#FFFFFF] outline outline-2 outline-[#4A67BA]">
            4</p>
        <p
            class="w-[4vh] h-[4vh] flex items-center justify-center text-[2vh] text-[#0E0E5D] rounded-full bg-[#FFFFFF] outline outline-2 outline-[#4A67BA]">
            5</p>

    </div>
    <div class="flex flex-row m-[2.5vh] mt-[2vh] ">
        <p
            class="text-[#0E0E5D] items-center justify-center p-[2.5vh] rounded-[16px] shadow-lg w-fit text-[2.7vh] outline-solid outline-2 outline-[#4A67BA] mx-auto whitespace-nowrap max-[480px]:text-[2.5vh]">
            โปรดจับคู่คำตอบให้ตรงกับเสียงที่ได้ยิน ?</p>
    </div>

    <div
        class=" flex flex-col justify-center px-5 py-5 mx-auto my-10 w-[70%] border-none rounded-4xl  outline outline-2 outline-gray-200 shadow-xl max-[700px]:w-[85%]">
        <div class="flex flex-col">
            <div class="flex justify-center items-center bg-gray-300 px-10 py-3 my-6 w-fit mx-auto border-none rounded-full cursor-pointer gap-3 hover:bg-sky-200 hover:-translate-y-1 transform transition duration-300"
                onclick="sound()">
                <img src="/static/img/volume-up-black.png" class="w-12 h-12">
                <p class="text-[2vh] font-bold whitespace-nowrap max-[500px]:text-[2.7vh]">กดเพื่อฟังเสียง</p>
                <audio id="sound" src="/static/img/thunder.mp3"></audio>
            </div>
            <div>
                <div class="grid grid-cols-4  mx-auto my-5 gap-4 max-[1000px]:grid-cols-2 max-[500px]:grid-cols-1">
                    <div onclick="checkanswer(this)" id="box-0"
                        class="select-box  relative flex flex-col items-center rounded-3xl p-4 cursor-pointer transition duration-300 hover:bg-gray-200">
                        <div class="bg-white rounded-3xl ">
                            <img src="/static/img/sea.jpg"
                                class="w-[22vh] h-[22vh] object-fit outline outline-2 outline-[#E8E8E8] rounded-3xl">
                        </div>
                        <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct">
                        </div>
                        <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect">
                        </div>


                    </div>

                    <div onclick="checkanswer(this)" id="box-1"
                        class="select-box relative flex flex-col items-center rounded-3xl p-4 cursor-pointer transition duration-300 hover:bg-gray-200">
                        <div class="bg-white rounded-3xl ">
                            <img src="/static/img/bug.jpg"
                                class="w-[22vh] h-[22vh] object-fit outline outline-2 outline-[#E8E8E8] rounded-3xl">
                        </div>
                        <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct">
                        </div>
                        <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect">
                        </div>

                    </div>

                    <div onclick="checkanswer(this)" id="box-2"
                        class="select-box  relative flex flex-col items-center rounded-3xl p-4 cursor-pointer transition duration-300 hover:bg-gray-200">
                        <div class="bg-white rounded-3xl">
                            <img src="/static/img/weather.jpg"
                                class="w-[22vh] h-[22vh] object-fit outline outline-2 outline-[#E8E8E8] rounded-3xl">
                        </div>
                        <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct">
                        </div>
                        <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect">
                        </div>


                    </div>

                    <div onclick="checkanswer(this)" id="box-3"
                        class="select-box relative flex flex-col items-center rounded-3xl p-4 cursor-pointer transition duration-300 hover:bg-gray-200">
                        <div class="bg-white rounded-3xl">
                            <img src="/static/img/pirot.jpg"
                                class="w-[22vh] h-[22vh] object-fit outline outline-2 outline-[#E8E8E8] rounded-3xl">
                        </div>
                        <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct">
                        </div>
                        <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect">
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-5 mb-5">
            <button id="nextBtn"
                class="group flex justify-center items-center bg-[#78C93C] px-5 py-3 rounded-2xl gap-3 text-[3vh] text-white font-bold transition-all duration-300 cursor-pointer hover:bg-lime-600 shadow-lg hover:shadow-xl hidden"
                onclick="CreateQuestion()">
                <p>ถัดไป</p>
                <img src="/static/img/right-arrow.png"
                    class="w-10 h-10 transform transition-transform duration-300 group-hover:translate-x-1">
            </button>
            <button id="checkBtn"
                class="group flex justify-center items-center bg-[#78C93C] px-5 py-3 rounded-2xl gap-3 text-[3vh] text-white font-bold transition-all duration-300 cursor-pointer hover:bg-lime-600 shadow-lg hover:shadow-xl"
                onclick="checkResult()">
                <p>ตรวจ</p>
            </button>
            <button id="submitBtn"
                class="group flex justify-center items-center bg-[#78C93C] px-5 py-3 rounded-2xl gap-3 text-[3vh] text-white font-bold transition-all duration-300 cursor-pointer hover:bg-lime-600 shadow-lg hover:shadow-xl hidden"
                onclick="Tosubmit()">
                <p>เสร็จสิ้น</p>
            </button>
        </div>

    </div>

    <button onclick="openTutorial(true)" class="fixed bottom-6 right-6 z-50 cursor-pointer">
        <img src="/static/img/info.png" class="w-[40px] h-[40px]">
    </button>
    <div id="tutorialModal" class="fixed inset-0 z-50 flex justify-center items-center w-screen h-screen backdrop-blur-md bg-black/30" style="display: none;">
        <div class="bg-white rounded-xl p-6 w-[90%] max-w-[600px] shadow-xl relative text-center">
          <h2 class="text-xl font-bold mb-4">แนะนำการใช้งาน</h2>
          <div class="w-full h-[300px] mb-4 overflow-hidden flex justify-center items-center">
                <img id="tutorialImage" src="" class="w-full h-full object-contain rounded-lg">
          </div>
          <div id="dots" class="flex justify-center gap-2 mb-4"></div>
          <button onclick="nextSlide()" class="px-4 py-2 bg-blue-600 text-white rounded mb-2 hover:bg-blue-700 transition">ถัดไป</button><br>
          <button onclick="closeTutorial()" class="absolute top-2 right-4 text-gray-500 text-2xl leading-none hover:text-red-500">X</button>
        </div>
    </div>

    <script>
        const images = [
            "/static/img/tutorial-sound1-1.png",
            "/static/img/tutorial-sound1-2.png",
            "/static/img/tutorial-sound1-3.png",
            "/static/img/tutorial-sound1-4.png",
            "/static/img/tutorial-sound1-5.png",
            "/static/img/tutorial-sound1-6.png",
            "/static/img/tutorial-result.png"
        ];
        let currentSlide = 0;
        let tutorialModal, imageEl, dotsEl;
        function renderDots(){
            dotsEl.innerHTML = "";
            for (let i = 0; i < images.length; i++){
                const dot = document.createElement("span");
                dot.className = "w-3 h-3 rounded-full mx-1 cursor-pointer transition-all duration-200 " + (i === currentSlide ? "bg-blue-600 scale-110" : "bg-gray-300");
                dot.addEventListener("click", () => {
                currentSlide = i;
                showSlide(currentSlide);
                });
                dotsEl.appendChild(dot);
            }
        }
        function showSlide(index){
            if (index >= images.length){
                localStorage.setItem("tutorialSeen", "true");
                closeTutorial();
                return;
            }
            imageEl.src = images[index];
            renderDots();
        }
        function nextSlide(){
            currentSlide++;
            showSlide(currentSlide);
        }
        function closeTutorial() {
            tutorialModal.style.display = "none";
        }
        function openTutorial(force = false){
            const seen = localStorage.getItem("tutorialSeen");
            if (seen === "true" && !force) return;
            currentSlide = 0;
            showSlide(currentSlide);
            tutorialModal.style.display = "flex";
        }
        window.addEventListener("DOMContentLoaded", () => {
            tutorialModal = document.getElementById("tutorialModal");
            imageEl = document.getElementById("tutorialImage");
            dotsEl = document.getElementById("dots");

            const seen = localStorage.getItem("tutorialSeen");
            if (!seen){
                openTutorial(true);
            }
        });

        let second = 0;
        let time = null;
        function updateTimerDisplay() {
            const min = String(Math.floor(second / 60)).padStart(2, '0');
            const sec = String(second % 60).padStart(2, '0');
            document.getElementById('timer').textContent = `${min}:${sec}`;
        }
        function start() {
            time = setInterval(() => {
                second++;
                updateTimerDisplay();
            }, 1000);
        }
        function stop() {
            clearInterval(time);
            time = null;
        }
        window.onload = start;
        const clean = (url) => url.replace(location.origin, "");
        let questions = JSON.parse(`{{ questions | tojson }}`);
        console.log(questions);
        let play = false;
        function sound() {
            const audio = document.getElementById("sound");
            if (play) {
                audio.pause();
            } else {
                audio.time = 0;
                audio.play();
            }
            play = !play;
            audio.onended = function () {
                play = false;
            };
        }
        // function playSound(index) {
        // หยุดทุกเสียงก่อน
        //     for (let i = 1; i <= 4; i++) {
        //         const audio = document.getElementById('audio' + i);
        //         audio.pause();
        //         audio.currentTime = 0;
        //     }
        //     document.getElementById('audio' + index).play();
        //     currentSound = index;
        // }

        // function selectImage(button) {
        //     if (currentSound === null) {
        //         alert("กรุณาเลือกเสียงก่อน");
        //         return;
        //     }

        //     sound = clean(document.getElementById('audio' + currentSound).src);
        //     img = clean(button.querySelector("img").src);
        //     if (done_questions.has(sound) || done_questions.has(img)) {
        //         alert("คุณได้เลือกคำตอบนี้ไปแล้ว");
        //         return;
        //     }
        //     done_questions.add(sound);
        //     done_questions.add(img);
        //     const isCorrect = img === answer[sound];

        //     const overlayCorrect = button.querySelector(".overlay-correct");
        //     const overlayIncorrect = button.querySelector(".overlay-incorrect");

        //     // ลบ border ก่อน
        //     button.classList.remove("ring-4", "ring-green-500", "ring-red-500");

        //     // ถ้าตอบถูก
        //     if (isCorrect) {
        //         overlayCorrect.classList.remove("hidden");
        //         button.classList.add("ring-4", "ring-green-500");
        //     } else {
        //         overlayIncorrect.classList.remove("hidden");
        //         button.classList.add("ring-4", "ring-red-500");
        //     }

        //     // reset เสียงที่เลือก
        //     currentSound = null;
        // }

        let selected = null;
        let hasChecked = false;
        let currentQuestion = 0;
        let corrected = 0;

        function checkanswer(element) {
            if (hasChecked) return; // ถ้าเฉลยไปแล้วห้ามเปลี่ยน

            // ลบกรอบเดิมก่อน
            document.querySelectorAll('.select-box').forEach(box => {
                box.classList.remove("ring-4", "ring-green-500", "ring-red-500");
            });

            selected = element;
            element.classList.add("ring-4", "ring-blue-400"); // เน้นว่าผู้ใช้เลือกอะไร
        }

        function checkResult() {
            if (selected === null) {
                alert("กรุณาเลือกคำตอบก่อนตรวจ");
                return;
            }

            hasChecked = true;

            const boxes = document.querySelectorAll('.select-box');

            // ลบกรอบสีน้ำเงินก่อนเฉลย
            boxes.forEach(box => box.classList.remove("ring-blue-400"));
            let correct_choice = 0;
            boxes.forEach((box, index) => {
                const overlayCorrect = box.querySelector(".overlay-correct");
                const overlayIncorrect = box.querySelector(".overlay-incorrect");
                const current_box_img = clean(decodeURIComponent(box.querySelector("img").src));
                const correct_path_img = questions[currentQuestion-1].answer
                console.log(current_box_img, correct_path_img)
                if (current_box_img === correct_path_img) {
                    if (overlayCorrect) overlayCorrect.classList.remove("hidden");
                    box.classList.add("ring-4", "ring-green-500");
                    correct_choice = index;

                } else if (box === selected) {
                    if (overlayIncorrect) overlayIncorrect.classList.remove("hidden");
                    box.classList.add("ring-4", "ring-red-500");
                }
            });

            if (clean(decodeURIComponent(selected.querySelector("img").src)) === questions[currentQuestion-1].answer) {
                corrected++;
                Swal.fire({
                    icon: "success",
                    title: "ถูกต้อง!",
                    text: "เก่งมาก 👏",
                    confirmButtonText: "เยี่ยม!",
                    confirmButtonColor: "#4CAF50",
                    customClass: {
                        popup: 'text-[2vh]  rounded-2xl font-[Kanit] max-[600px]:w-[40vh] w-[50vh]', 
                        title: 'text-[2.5vh] text-[#0E0E5D] font-bold',                     
                        confirmButton: 'text-[2vh] px-6 py-2 rounded-xl font-semibold'    
                    }
                });
            } else {
                Swal.fire({
                    icon: "error",
                    title: "ไม่ถูกต้อง",
                    text: `คำตอบที่ถูกต้องคือ: ข้อที่ ${correct_choice+1}.`,
                    confirmButtonText: "เข้าใจแล้ว",
                    confirmButtonColor: "#EF4444",
                    customClass: {
                        popup: 'text-[2vh]  rounded-2xl font-[Kanit] max-[600px]:w-[40vh] w-[50vh]', 
                        title: 'text-[2.5vh] text-[#0E0E5D] font-bold',                     
                        confirmButton: 'text-[2vh] px-6 py-2 rounded-xl font-semibold'    
                    }
                });
            }            
            // ซ่อนปุ่ม "ตรวจ" และแสดงปุ่ม "ถัดไป"
            if (currentQuestion >= questions.length){
                document.getElementById("nextBtn").classList.add("hidden");
                document.getElementById("checkBtn").classList.add("hidden");
                document.getElementById("submitBtn").classList.remove("hidden");
            }else{
                document.getElementById("checkBtn").classList.add("hidden");
                document.getElementById("nextBtn").classList.remove("hidden");
            }
        }
        function clearPage(){
            Swal.fire({
                title: 'กำลังโหลด...',
                html: 'กรุณารอสักครู่',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
                timer: 500,
                timerProgressBar: true
                })
                .then(() => {
                    document.querySelectorAll('.select-box').forEach(box => {
                        box.classList.remove("ring-4", "ring-green-500", "ring-red-500");
                        box.querySelector(".overlay-incorrect").classList.add('hidden');
                        box.querySelector(".overlay-correct").classList.add('hidden');
                    });
                    document.getElementById("nextBtn").classList.add("hidden");
                    document.getElementById("checkBtn").classList.remove("hidden");
                    selectedIndex = null;
                    hasChecked = false;
                });
        }
        CreateQuestion()
        function CreateQuestion(){
            clearPage();
            document.getElementById("sound").src = questions[currentQuestion].path_sound
            document.querySelectorAll('.select-box').forEach((box, index) => {
                box.querySelector("img").src = questions[currentQuestion].path_img[index]
            });
            document.querySelectorAll("#current_choice p").forEach((p, index) => {
                const isActive = index === currentQuestion;
                p.classList.toggle("bg-[#DFE9FF]", isActive);
                p.classList.toggle("bg-[#FFFFFF]", !isActive);
            });
            currentQuestion++;
        }
        function Tosubmit() {
            // สร้างฟอร์มส่ง POST ไปยัง /submit/...
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/home/submit/game_sound/pairing_mode/{{ stage }}';

            // สร้าง input สำหรับส่ง finished = true
            const inputFinished = document.createElement('input');
            inputFinished.type = 'hidden';
            inputFinished.name = 'finished';
            inputFinished.value = 'true';
            form.appendChild(inputFinished);

            // เพิ่ม input สำหรับส่ง corrected (เช่นจำนวนวินาทีหรือคะแนนที่ได้)
            const inputCorrected = document.createElement('input');
            inputCorrected.type = 'hidden';
            inputCorrected.name = 'corrected';
            inputCorrected.value = corrected;  // ต้องแน่ใจว่า corrected ถูกกำหนดไว้ก่อนหน้านี้
            form.appendChild(inputCorrected);

            const inputTime = document.createElement('input');
            inputTime.type = 'hidden';
            inputTime.name = 'time';
            inputTime.value = second;// ต้องแน่ใจว่า corrected ถูกกำหนดไว้ก่อนหน้านี้
            form.appendChild(inputTime);

            document.body.appendChild(form);
            form.submit();
        }

    </script>
</body>

</html>