<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memlody</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>
<style>
    .fancy {
        display: inline-block;
        position: relative;
        border-radius: 20px;
        font-size: 2vh;
        /* margin: 20px 0 0 20px; */
        padding: 8px 20px;
        color: #fff;
        border: 2px solid #BBBCBF;
        background-color: #F0F0F0;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        white-space: nowrap;
    }

    .fancy .text {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding-left: 2em;
        text-align: left;
        transition: all 0.3s ease-in-out;
        color: black;
    }

    .img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-left: -1.5em;
    }

    .fancy .top-key,
    .fancy .bottom-key-1,
    .fancy .bottom-key-2 {
        height: 2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, left 0.3s ease-out, right 0.3s ease-out;
    }

    .fancy .top-key {
        width: 1.5625rem;
        top: -2px;
        left: 0.625rem;
    }

    .fancy .bottom-key-1 {
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -2px;
    }

    .fancy .bottom-key-2 {
        width: 0.625rem;
        right: 0.625rem;
        bottom: -2px;
    }

    .fancy:hover {
        background: white;
        border-color: transparent;
        box-shadow: 1px 2px 5px 2px #BBBCBF;
    }

    .fancy:hover .text {
        padding-left: 1.5em;
    }

    .fancy:hover .top-key {
        left: -2px;
        width: 0px;
    }

    .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
        right: 0;
        width: 0;
    }
</style>

<body class="m-0 font-[Kanit]">
    <div class="bg-[#0E0E5D] flex justify-between">
        <div class="flex justify-center items-center text-white ml-[4%] m-[1.5vh]">
            <h1 class="text-[4vh]">MEMLODY</h1>
        </div>
        <div class="flex justify-center items-center mr-[2%] m-[1.5vh]">
            <a href="">
                <p
                    class="w-[4vh] h-[4vh] flex items-center justify-center text-[2vh] text-[#0E0E5D] rounded-full bg-[#DFE9FF]">
                    1</p>
            </a>
        </div>
    </div>

    <div class="flex flex-row items-center m-[2.5vh]">
        <a class="fancy" href="/home/game_sound/pairing_mode">
            <span class="top-key"></span>
            <span class="text"><img src="/static/img/return.png" class="img" alt="ย้อนกลับ">ย้อนกลับ</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>

        <div class="flex flex-row items-center ml-auto mr-[2vh]">
            <img src="/static/img/clock.png" alt="" class="w-[3.5vh] object-contain mr-2">
            <p class="mr-[5px] whitespace-nowrap text-[#797979] text-[2vh]">เวลาที่ใช้ไป:</p>
            <p class="mr-[5px] whitespace-nowrap text-[#797979] text-[2vh]">06.24</p>
            <p class="whitespace-nowrap text-[#797979] text-[2vh]">น.</p>
        </div>
    </div>


    <div class="flex flex-row m-[2.5vh] mt-[1vh] ">
        <p
            class="text-[#0E0E5D] items-center justify-center p-[2.5vh] rounded-[16px] shadow-lg w-fit text-[2.7vh] outline-solid outline-2 outline-[#4A67BA] mx-auto whitespace-nowrap max-[480px]:text-[2.5vh]">
            โปรดจับคู่คำตอบให้ตรงกับเสียงที่ได้ยิน ?</p>
    </div>




    <div class="w-full flex justify-center  gap-[10vh] flex-wrap mt-[5vh] mb-[2.5vh] max-[480px]:gap-[5vh]">
        <div
            class="bg-[#FFFFFF] w-[50vh] h-[40vh] p-[10px] flex flex-col rounded-[16px] shadow-lg outline outline-[2px] outline-[#E8E8E8] hover:shadow-xl transition-shadow duration-300 ease-in-out max-[480px]:w-[40vh]">
            <div class="flex flex-row">
                <img src="/static/img/volume-up.png" alt="" class="w-[4vh] object-contain mr-2">
                <p class="text-[2.7vh] text-[#0E0E5D] font-semibold mb-[1.5vh] mt-[1.5vh]">เสียง</p>

            </div>

            <div class="flex flex-col gap-[2vh]  mb-[1.7vh]">
                <button onclick="playSound(1)" class="p-[10px] rounded-[12px] shadow-md w-full text-[2vh] bg-[#E8E8E8] hover:bg-[#D0D0D0] transition-colors 
                 cursor-pointer">
                    <div class="flex justify-center items-center gap-[10px]">
                        <img src="/static/img/volume-up-black.png" alt="" class="w-[3vh] h-[3vh] object-contain">
                        <p>เล่นเสียงที่ 1</p>
                    </div>
                </button>
                <button onclick="playSound(2)" class="p-[10px] rounded-[12px] shadow-md w-full text-[2vh] bg-[#E8E8E8] hover:bg-[#D0D0D0] transition-colors 
                 cursor-pointer">
                    <div class="flex justify-center items-center gap-[10px]">
                        <img src="/static/img/volume-up-black.png" alt="" class="w-[3vh] h-[3vh] object-contain">
                        <p>เล่นเสียงที่ 2</p>
                    </div>
                </button>
                <button onclick="playSound(3)" class="p-[10px] rounded-[12px] shadow-md w-full text-[2vh] bg-[#E8E8E8] hover:bg-[#D0D0D0] transition-colors 
                 cursor-pointer">
                    <div class="flex justify-center items-center gap-[10px]">
                        <img src="/static/img/volume-up-black.png" alt="" class="w-[3vh] h-[3vh] object-contain">
                        <p>เล่นเสียงที่ 3</p>
                    </div>
                </button>
                <button onclick="playSound(4)" class="p-[10px] rounded-[12px] shadow-md w-full text-[2vh] bg-[#E8E8E8] hover:bg-[#D0D0D0] transition-colors 
                    break-words whitespace-normal cursor-pointer">
                    <div class="flex justify-center items-center gap-[10px]">
                        <img src="/static/img/volume-up-black.png" alt="" class="w-[3vh] h-[3vh] object-contain">
                        <p>เล่นเสียงที่ 4</p>
                    </div>
                </button>
            </div>
        </div>

        <!-- เสียง -->
        <audio id="audio1" src="{{sound[0]}}"></audio>
        <audio id="audio2" src="{{sound[1]}}"></audio>
        <audio id="audio3" src="{{sound[2]}}"></audio>
        <audio id="audio4" src="{{sound[3]}}"></audio>



        <div
            class="flex flex-col bg-[#FFFFFF] w-[50vh] p-[2vh] rounded-[16px] shadow-lg outline outline-[2px] outline-[#E8E8E8] hover:shadow-xl transition-shadow duration-300 ease-in-out max-[480px]:w-[40vh]">
            <p class="text-[2.7vh] text-[#0E0E5D] font-semibold mb-[1.5vh] ">ตัวเลือก</p>

            <div class=" grid grid-cols-2 gap-[2vh]">

                <button onclick="selectImage(this)" class="relative rounded-[12px]">
                    <img src="{{ images[0] }}" alt=""
                        class="h-full w-full object-cover rounded-[12px] outline outline-2 outline-[#E8E8E8]" />
                    <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct"></div>
                    <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect"></div>

                </button>

                <button onclick="selectImage(this)" class="relative rounded-[12px]">
                    <img src="{{ images[1] }}" alt=""
                        class="h-full w-full object-cover rounded-[12px] outline outline-2 outline-[#E8E8E8]" />
                    <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct"></div>
                    <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect"></div>

                </button>

                <button onclick="selectImage(this)" class="relative rounded-[12px]">
                    <img src="{{ images[2] }}" alt=""
                        class="h-full w-full object-cover rounded-[12px] outline outline-2 outline-[#E8E8E8]" />
                    <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct"></div>
                    <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect"></div>

                </button>

                <button onclick="selectImage(this)" class="relative rounded-[12px]">
                    <img src="{{ images[3] }}" alt=""
                        class="h-full w-full object-cover rounded-[12px] outline outline-2 outline-[#E8E8E8]" />
                    <div class="absolute inset-0 bg-green-400 opacity-40 hidden rounded-[12px] overlay-correct"></div>
                    <div class="absolute inset-0 bg-red-400 opacity-40 hidden rounded-[12px] overlay-incorrect"></div>

                </button>

            </div>
        </div>
    </div>
    <div class="flex justify-center items-center m-[5vh] max-[480px]:m-[5vh]">
        <!-- <a href="index.html"
            class="bg-[#78C93C] flex flex-row items-center w-fit px-[2.3vh] py-[1vh] rounded-[16px] shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out cursor-pointer">
            <img src="/static/img/right-arrow.png" alt="" class="w-[5vh] object-contain mr-[1vh] ">
            <p class="text-[2.4vh] text-[#FFFFFF] whitespace-nowrap">ถัดไป</p>
        </a> -->
        <div class="flex justify-center mt-5">
            <button
                class="group flex justify-center items-center bg-lime-400 px-5 py-3 rounded-2xl gap-3 text-3xl text-white font-bold transition-all duration-300 cursor-pointer hover:bg-lime-600"
                style="box-shadow: 2px 2px 0 2px #6BA530;" onclick="stop()">
                <p>ถัดไป</p>
                <img src="/static/img/right-arrow.png"
                    class="w-10 h-10 transform transition-transform duration-300 group-hover:translate-x-2">
            </button>
        </div>

    </div>

    <script>
        const clean = (url) => url.replace(location.origin, "");
        let answer = JSON.parse(`{{ answer | tojson }}`);
        let done_questions = new Set();


        function playSound(index) {
            // หยุดทุกเสียงก่อน
            for (let i = 1; i <= 4; i++) {
                const audio = document.getElementById('audio' + i);
                audio.pause();
                audio.currentTime = 0;
            }
            document.getElementById('audio' + index).play();
            currentSound = index;
        }

        function selectImage(button) {
            if (currentSound === null) {
                alert("กรุณาเลือกเสียงก่อน");
                return;
            }

            sound = clean(document.getElementById('audio' + currentSound).src);
            img = clean(button.querySelector("img").src);
            if (done_questions.has(sound) || done_questions.has(img)) {
                alert("คุณได้เลือกคำตอบนี้ไปแล้ว");
                return;
            }
            done_questions.add(sound);
            done_questions.add(img);
            const isCorrect = img === answer[sound];

            const overlayCorrect = button.querySelector(".overlay-correct");
            const overlayIncorrect = button.querySelector(".overlay-incorrect");

            // ลบ border ก่อน
            button.classList.remove("ring-4", "ring-green-500", "ring-red-500");

            // ถ้าตอบถูก
            if (isCorrect) {
                overlayCorrect.classList.remove("hidden");
                button.classList.add("ring-4", "ring-green-500");
            } else {
                overlayIncorrect.classList.remove("hidden");
                button.classList.add("ring-4", "ring-red-500");
            }

            // reset เสียงที่เลือก
            currentSound = null;
        }


    </script>
</body>

</html>